{% set title="Home" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

<section class="wrapper">
<div class="banner">

<div class="banner_door">
    <h1 class="banner_door__h1">
        Indoor Plants
    </h1>
    <div class="banner_door__love">
        with love...
    </div>
    <div class="banner_door__text">
        We help you discover the best plants for your space, delivers them to your door and helps you look after them.
    </div>
    <button>
        View catalog
    </button>
</div>

<div class="banner_img">
    <!-- <img src="img/img1.webp" class="banner_img__img" alt=""> -->
</div>

<div class="banner_social">
    <div class="banner_social__link">
        <a href="#">Fb</a>
    </div>
    <div class="banner_social__link">
        <a href="#">Tw</a>
    </div>
    <div class="banner_social__link">
        <a href="#">In</a>
    </div>
</div>

</div>
    
</section>
 
{% include 'parts/_foot.html' %}