<section class="wrapper almost">
    <h2 class="almost__h">(Almost) Unkillable Houseplants</h2>
    <div class="row">
      <div class="almost__block">
        <img
          src="img/img-Unkillable-1.webp"
          alt="Photos of potted indoor flowers"
        />
        <div class="almost__block_text">Anthurium</div>
        <div class="almost__block_price">$20</div>
      </div>
      <div class="almost__block">
        <img
          src="img/img-Unkillable-2.webp"
          alt="Photos of potted indoor flowers"
        />
        <div class="almost__block_text">Geranium</div>
        <div class="almost__block_price">$15</div>
      </div>
      <div class="almost__block">
        <img
          src="img/img-Unkillable-3.webp"
          alt="Photos of potted indoor flowers"
        />
        <div class="almost__block_text">Strelitzia Nicolai</div>
        <div class="almost__block_price">$60</div>
      </div>
      <div class="almost__block">
        <img
          src="img/img-Unkillable-4.webp"
          alt="Photos of potted indoor flowers"
        />
        <div class="almost__block_text">Maidenhair Fern</div>
        <div class="almost__block_price">$35</div>
      </div>
    </div>
  
    <div class="almost__view">
      <a href="#">
        View collection
        <div class="almost__view_arrow">
          {% include 'parts/svgo/ico-arrow-left_1.svg' %}
        </div>
      </a>
    </div>
  </section>