<section class="wrapper block-slider">

  <h2 class="sr-only">
    Live Plants
  </h2>

  <div class="blog__slider">

    <div class="catalog-slide">
      <div class="row ">
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-1.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$8</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-2.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-3.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Monstera</div>
          <div class="catalog-slide__items_price">$55</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-4.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$68</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-5.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Boston Fern</div>
          <div class="catalog-slide__items_price">$16</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-6.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-7.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$60</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-8.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cactus</div>
          <div class="catalog-slide__items_price">$7</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-9.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Rubber Plant</div>
          <div class="catalog-slide__items_price">$17</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-10.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cycad</div>
          <div class="catalog-slide__items_price">$28</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-11.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$10</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-12.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Succulent</div>
          <div class="catalog-slide__items_price">$12</div>
        </div>
      </div>
    </div>

    <div class="wrapper catalog-slide">
      <div class="row ">
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-1.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$8</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-2.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-3.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Monstera</div>
          <div class="catalog-slide__items_price">$55</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-4.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$68</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-5.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Boston Fern</div>
          <div class="catalog-slide__items_price">$16</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-6.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-7.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$60</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-8.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cactus</div>
          <div class="catalog-slide__items_price">$7</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-9.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Rubber Plant</div>
          <div class="catalog-slide__items_price">$17</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-10.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cycad</div>
          <div class="catalog-slide__items_price">$28</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-11.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$10</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-12.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Succulent</div>
          <div class="catalog-slide__items_price">$12</div>
        </div>
      </div>
    </div>

    <div class="wrapper catalog-slide">
      <div class="row ">
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-1.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$8</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-2.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-3.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Monstera</div>
          <div class="catalog-slide__items_price">$55</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-4.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$68</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-5.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Boston Fern</div>
          <div class="catalog-slide__items_price">$16</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-6.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-7.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$60</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-8.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cactus</div>
          <div class="catalog-slide__items_price">$7</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-9.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Rubber Plant</div>
          <div class="catalog-slide__items_price">$17</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-10.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cycad</div>
          <div class="catalog-slide__items_price">$28</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-11.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$10</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-12.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Succulent</div>
          <div class="catalog-slide__items_price">$12</div>
        </div>
      </div>
    </div>

    <div class="wrapper catalog-slide">
      <div class="row ">
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-1.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$8</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-2.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-3.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Monstera</div>
          <div class="catalog-slide__items_price">$55</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-4.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$68</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-5.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Boston Fern</div>
          <div class="catalog-slide__items_price">$16</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-6.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-7.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$60</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-8.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cactus</div>
          <div class="catalog-slide__items_price">$7</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-9.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Rubber Plant</div>
          <div class="catalog-slide__items_price">$17</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-10.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cycad</div>
          <div class="catalog-slide__items_price">$28</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-11.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$10</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-12.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Succulent</div>
          <div class="catalog-slide__items_price">$12</div>
        </div>
      </div>
    </div>

    <div class="wrapper catalog-slide">
      <div class="row ">
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-1.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$8</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-2.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-3.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Monstera</div>
          <div class="catalog-slide__items_price">$55</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-4.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$68</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-5.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Boston Fern</div>
          <div class="catalog-slide__items_price">$16</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-6.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-7.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$60</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-8.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cactus</div>
          <div class="catalog-slide__items_price">$7</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-9.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Rubber Plant</div>
          <div class="catalog-slide__items_price">$17</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-10.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cycad</div>
          <div class="catalog-slide__items_price">$28</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-11.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$10</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-12.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Succulent</div>
          <div class="catalog-slide__items_price">$12</div>
        </div>
      </div>
    </div>

    <div class="wrapper catalog-slide">
      <div class="row ">
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-1.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$8</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-2.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-3.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Monstera</div>
          <div class="catalog-slide__items_price">$55</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-4.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$68</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-5.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Boston Fern</div>
          <div class="catalog-slide__items_price">$16</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-6.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-7.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$60</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-8.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cactus</div>
          <div class="catalog-slide__items_price">$7</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-9.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Rubber Plant</div>
          <div class="catalog-slide__items_price">$17</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-10.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cycad</div>
          <div class="catalog-slide__items_price">$28</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-11.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$10</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-12.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Succulent</div>
          <div class="catalog-slide__items_price">$12</div>
        </div>
      </div>
    </div>

    <div class="wrapper catalog-slide">
      <div class="row ">
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-1.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$8</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-2.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-3.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Monstera</div>
          <div class="catalog-slide__items_price">$55</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-4.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$68</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-5.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Boston Fern</div>
          <div class="catalog-slide__items_price">$16</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-6.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-7.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$60</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-8.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cactus</div>
          <div class="catalog-slide__items_price">$7</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-9.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Rubber Plant</div>
          <div class="catalog-slide__items_price">$17</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-10.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cycad</div>
          <div class="catalog-slide__items_price">$28</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-11.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$10</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-12.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Succulent</div>
          <div class="catalog-slide__items_price">$12</div>
        </div>
      </div>
    </div>

    <div class="wrapper catalog-slide">
      <div class="row ">
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-1.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$8</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-2.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-3.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Monstera</div>
          <div class="catalog-slide__items_price">$55</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-4.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$68</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-5.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Boston Fern</div>
          <div class="catalog-slide__items_price">$16</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-6.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Snake Plant</div>
          <div class="catalog-slide__items_price">$40</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-7.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Strelitzia Nicolai</div>
          <div class="catalog-slide__items_price">$60</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-8.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cactus</div>
          <div class="catalog-slide__items_price">$7</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-9.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Rubber Plant</div>
          <div class="catalog-slide__items_price">$17</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-10.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Cycad</div>
          <div class="catalog-slide__items_price">$28</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-11.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Aloe Vera</div>
          <div class="catalog-slide__items_price">$10</div>
        </div>
    
        <div class="catalog-slide__items">
          <a href="#">
            <img
              src="img/img-favorit-12.webp"
              alt=""
              class="catalog-slide__items_img"
            />
          </a>
          <div class="catalog-slide__items_text">Succulent</div>
          <div class="catalog-slide__items_price">$12</div>
        </div>
      </div>
    </div>

  </div>
  

  <div class="catalog-slide__blog-nav">
    <button
      class="catalog-slide__blog-nav_count"
      aria-label="to include the slide numder one"
    >
      1
    </button>
    <button
      class="catalog-slide__blog-nav_count"
      aria-label="to include the slide numder two"
    >
      2
    </button>
    <button
      class="catalog-slide__blog-nav_count"
      aria-label="to include the slide numder three"
    >
      3
    </button>
    <button
      class="catalog-slide__blog-nav_count"
      aria-label="to include the slide numder four"
    >
      4
    </button>
    <button
      class="catalog-slide__blog-nav_count"
      aria-label="to include the slide numder five"
    >
      5
    </button>
    <button
      class="catalog-slide__blog-nav_count"
      aria-label="to include the slide numder six"
    >
      6
    </button>
    <button
      class="catalog-slide__blog-nav_count"
      aria-label="to include the slide numder seven"
    >
      7
    </button>
    <button
      class="catalog-slide__blog-nav_count"
      aria-label="to include the slide numder eight"
    >
      8
    </button>
   
  </div>

  <button
    class="catalog-slide__btn-prev"
    aria-label="button to switch the previous slide"
  >
    <
  </button>

  <button
    class="catalog-slide__btn-next"
    aria-label="button for switching the next slide"
  >
    >
  </button>

</section>
