<section class="catalog-slide">
    <div class="wrapper">
        <div class="row">

            <div class="catalog-slide__items">
                <img src="img/img-favorit-1.webp" alt="" class="catalog-slide__img">
                <div class="catalog-slide__text">Aloe Vera</div>
                <div class="catalog-slide__text">$40</div>
            </div>

            <div class="catalog-slide__items">
                <img src="img/img-favorit-2.webp" alt="" class="catalog-slide__img">
                <div class="catalog-slide__text">Aloe Vera</div>
                <div class="catalog-slide__text">$40</div>
            </div>

            <div class="catalog-slide__items">
                <img src="img/img-favorit-3.webp" alt="" class="catalog-slide__img">
                <div class="catalog-slide__text">Aloe Vera</div>
                <div class="catalog-slide__text">$40</div>
            </div>

            <div class="catalog-slide__items">
                <img src="img/img-favorit-4.webp" alt="" class="catalog-slide__img">
                <div class="catalog-slide__text">Aloe Vera</div>
                <div class="catalog-slide__text">$40</div>
            </div>

            <div class="catalog-slide__items">
                <img src="img/img-favorit-5.webp" alt="" class="catalog-slide__img">
                <div class="catalog-slide__text">Aloe Vera</div>
                <div class="catalog-slide__text">$40</div>
            </div>

            <div class="catalog-slide__items">
                <img src="img/img-favorit-6.webp" alt="" class="catalog-slide__img">
                <div class="catalog-slide__text">Aloe Vera</div>
                <div class="catalog-slide__text">$40</div>
            </div>

            <div class="catalog-slide__items">
                <img src="img/img-favorit-7.webp" alt="" class="catalog-slide__img">
                <div class="catalog-slide__text">Aloe Vera</div>
                <div class="catalog-slide__text">$40</div>
            </div>

            <div class="catalog-slide__items">
                <img src="img/img-favorit-8.webp" alt="" class="catalog-slide__img">
                <div class="catalog-slide__text">Aloe Vera</div>
                <div class="catalog-slide__text">$40</div>
            </div>

            <div class="catalog-slide__items">
                <img src="img/img-favorit-9.webp" alt="" class="catalog-slide__img">
                <div class="catalog-slide__text">Aloe Vera</div>
                <div class="catalog-slide__text">$40</div>
            </div>

            <div class="catalog-slide__items">
                <img src="img/img-favorit-10.webp" alt="" class="catalog-slide__img">
                <div class="catalog-slide__text">Aloe Vera</div>
                <div class="catalog-slide__text">$40</div>
            </div>

            <div class="catalog-slide__items">
                <img src="img/img-favorit-11.webp" alt="" class="catalog-slide__img">
                <div class="catalog-slide__text">Aloe Vera</div>
                <div class="catalog-slide__text">$40</div>
            </div>

            <div class="catalog-slide__items">
                <img src="img/img-favorit-12.webp" alt="" class="catalog-slide__img">
                <div class="catalog-slide__text">Aloe Vera</div>
                <div class="catalog-slide__text">$40</div>
            </div>

        </div>
    </div>
</section>