<section class="wrapper cozy">
    <h2 class="cozy__h">Our Cozy Blog</h2>
    <div class="row">
      <div class="cozy__block">
        <img
          src="img/img-blog-1.webp"
          alt="Photos of potted indoor flowers"
        />
        <h3 class="cozy__block_h3">How To Create A Plant Loving Home</h3>
        <p class="cozy__block_text">
            A Full Guide for first time Indoor Jungle owners. The essential concept behind any urban jungle is to...
        </p>
      </div>
      <div class="cozy__block">
        <img
          src="img/img-blog-2.webp"
          alt="Photos of potted indoor flowers"
        />
        <h3 class="cozy__block_h3">Plants that Thrive in the Bathroom</h3>
        <p class="cozy__block_text">
            These indoor plants will love your bathroom’s humidity...
        </p>
      </div>
      <div class="cozy__block">
        <img
          src="img/img-blog-3.webp"
          alt="Photos of potted indoor flowers"
        />
        <h3 class="cozy__block_h3">I Overwatered my rubber plant and this is what I learnt.</h3>
        <p class="cozy__block_text">
            Learn how to properly care for a Rubber Plant (ficus elastica). You’ll be proud of it!
        </p>
      </div> 
    </div>
  
    <div class="cozy__view">
      <a href="#">
        View collection
        <div class="cozy__view_arrow">
          {% include 'parts/svgo/ico-arrow-left_1.svg' %}
        </div>
      </a>
    </div>
  </section>