<section class="wrapper favorites">
  <h2 class="favorites__h">Our Favorites</h2>
  <div class="row">
    <div class="favorites__block">
      <img
        src="img/img-favorit-1.webp"
        alt="Photos of potted indoor flowers"
      >
      <div class="favorites__block_text">Aloe Vera</div>
      <div class="favorites__block_price">$8</div>
    </div>
    <div class="favorites__block">
      <img
        src="img/img-favorit-6.webp"
        alt="Photos of potted indoor flowers"
      >
      <div class="favorites__block_text">Snake Plant</div>
      <div class="favorites__block_price">$40</div>
    </div>
    <div class="favorites__block">
      <img
        src="img/img-favorit-3.webp"
        alt="Photos of potted indoor flowers"
      >
      <div class="favorites__block_text">Monstera</div>
      <div class="favorites__block_price">$55</div>
    </div>
    <div class="favorites__block">
      <img
        src="img/img-favorit-4.webp"
        alt="Photos of potted indoor flowers"
      >
      <div class="favorites__block_text">Strelitzia Nicolai</div>
      <div class="favorites__block_price">$68</div>
    </div>
  </div>

  <div class="favorites__view">
    <a href="#">
      View collection
      <div class="favorites__view_arrow">
        {% include 'parts/svgo/ico-arrow-left_1.svg' %}
      </div>
    </a>
  </div>
</section>
