<header class="wrapper camomile">
    
    <div class="camomile-logo">
        <a href="index.html" class="camomile-logo__link">
            <img
                src="img/Camomile.png"
                alt="Company logo"
                class="camomile-logo__logo"
            />
            </a>
    </div>

    <div class="camomile-nav">
        <nav class="camomile-nav__items">
            <ul class="camomile-nav__links ul-reset">
                <li class="camomile-nav__link">
                <a href="#">Plants</a>
                </li>
                <li class="camomile-nav__link">
                <a href="#">Accessories</a>
                </li>
                <li class="camomile-nav__link">
                <a href="#">Plant Care</a>
                </li>
                <li class="camomile-nav__link">
                <a href="#">Blog</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="camomile-searh">
        <nav class="camomile-searh__items">
            <ul class="camomile-searh__user ul-reset">
                <li class="camomile-searh__user_item">
                <a href="#">{% include 'parts/svgo/ico-search.svg' %}</a>
                </li>
                <li class="camomile-searh__user_item">
                <a href="#"> {% include 'parts/svgo/ico-user.svg' %} </a>
                </li>
                <li class="camomile-searh__user_item">
                <a href="#"> {% include 'parts/svgo/ico-shopping-bag.svg' %}</a>
                </li>
                <li class="camomile-searh__user_quantity">0</li>
            </ul>
        </nav>
    
</div>
</header>





































