<header class="main-header">
    <div class="wrapper main-header__wrap" >
        <a href="#" class="main-header__link">
            <img src="img/Camomile.png" alt="Company logo" class="main-header__logo">
        </a>
    
<nav class="main-header__nav main-navigation">
    <ul class="main-navigation__links">
        <li class="main-navigation__link">
            <a href="#">Plants</a>
        </li>
        <li class="main-navigation__link">
            <a href="#">Accessories</a>
        </li>
        <li class="main-navigation__link">
            <a href="#">Plant Care</a>
        </li>
        <li class="main-navigation__link">
            <a href="#">Blog</a>
        </li>
    </ul>
    <ul class="main-navigation__user">
        <li class="main-navigation__user_item">
            {% include 'parts/svgo/ico-search.svg' %}
        </li>
        <li class="main-navigation__user_item">
            <a href="#">
                {% include 'parts/svgo/ico-user.svg' %}
            </a>
        </li>
        <li class="main-navigation__user_item">
            <a href="#">
                {% include 'parts/svgo/ico-shopping-bag.svg' %}
                <p>0</p>
            </a>
            
        </li>
    </ul>
    
</nav>
</div>
</header>