<aside class="wrapper">
  <div class="row">
    
    <div class="live">
      <a href="catalog.html" class="live__item">
        <img src="img/img-Live Plants.webp" alt="" />
        <div class="live__plants">Live Plants</div>
        <div class="live__arrOne">
          {% include 'parts/svgo/ico-arrow-left.svg' %}
        </div>
      </a>
    </div>
    <div class="live">
      <div class="live__pots">
        <a href="#">
          <img src="img/img-Pots-Accessories.webp" alt="" />
          <div class="live__pots_acces">Pots & Accessories</div>
          <div class="live__pots_arrTwo">
            {% include 'parts/svgo/ico-arrow-left.svg' %}
          </div>
        </a>
      </div>
      <div class="live__care">
        <a href="#">
          <img src="img/img-Plant Care.webp" alt="" />
          <div class="live__care_plant">Plant Care</div>
          <div class="live__care_arrThree">
            {% include 'parts/svgo/ico-arrow-left.svg' %}
          </div>
        </a>
      </div>
    </div>
  </div>
</aside>
