<section class="mightLike wrapper">
    <h2 class="mightLike__h">
        You Might Like
    </h2>
    <div class="row">
        <div class="mightLike__items">
            <a href="#">
                <img src="img/img-favorit-1.webp" alt="photos of indoor flowers" class="mightLike__items_img">
            </a>
            <div class="mightLike__items_text">
                Aloe Vera
            </div>
            <div class="mightLike__items_price">
                $8
            </div>
        </div>
        <div class="mightLike__items">
            <a href="#">
                <img src="img/img-favorit-6.webp" alt="photos of indoor flowers" class="mightLike__items_img">
            </a>
            <div class="mightLike__items_text">
                Snake Plant
            </div>
            <div class="mightLike__items_price">
                $40
            </div>
        </div>
        <div class="mightLike__items">
            <a href="#">
                <img src="img/img-favorit-3.webp" alt="photos of indoor flowers" class="mightLike__items_img">
            </a>
            <div class="mightLike__items_text">
                Monstera
            </div>
            <div class="mightLike__items_price">
                $55
            </div>
        </div>
        <div class="mightLike__items">
            <a href="#">
                <img src="img/img-favorit-4.webp" alt="photos of indoor flowers" class="mightLike__items_img">
            </a>
            <div class="mightLike__items_text">
                Strelitzia Nicolai
            </div>
            <div class="mightLike__items_price">
                $68
            </div>
        </div>
    </div>
</section>