<section class="plantBio wrapper">

    <div class="plantBio-wrap">
        <h2 class="plantBio-wrap__h">
            Plant Bio
        </h2>
        <p class="plantBio-wrap__text">
            Anthuriums are flowering plants native to the Americas. They are known for their brightly colored flowers, which aren't really flowers but are modified waxy leaves! The more bright indirect light this plant is positioned in, the more ‘flowers’ it can produce. To keep this plant happy and healthy, prune off dead or dying foliage, and keep away from radiators and air conditioners. Like other blooming plants, the anthurium will go through blooming cycles – a few months without showy “flowers”, a few months with. Each bloom can last up to eight weeks.
        </p>

        

        <ul class="plantBio-wrap__lists ul-reset">
            <h3 class="plantBio-wrap__lists_h3">
                General Care
            </h3>
            <li class="plantBio-wrap__lists_list lists">
                <h4 class="lists__h">
                    Sunlight
                </h4>
                <span class="lists__txt">
                    Thrives in bright indirect to medium indirect light. Not suited for intense, direct sun.
                </span>
            </li>
            <li class="plantBio-wrap__lists_list lists">
                <h4 class="lists__h">
                    Water
                </h4>
                <span class="lists__txt">
                    Water every 1–2 weeks, allowing soil to dry out between waterings. Increase frequency with increased light.
                </span>
            </li>
            <li class="plantBio-wrap__lists_list lists">
                <h4 class="lists__h">
                    Temperature
                </h4>
                <span class="lists__txt">
                    Average home temperature of 65°–75°F.
                </span>
            </li>
        </ul>
    </div>
    <div class="plantBio-wrap">
        <img src="img/img-plant-bio.webp" alt="Photos of red flowers" class="plantBio-wrap__img">
    </div>

</section>