<section class="anthurium wrapper">
  <div class="row">
    <div class="anthurium-slider">
      <div class="anthurium-slider__img">
        <img
          src="img/img-slider-1.webp"
          alt="Indoor flower"
          class="anthurium-slider__img_flower"
        />
        <img
          src="img/img-slider-1.webp"
          alt="Indoor flower"
          class="anthurium-slider__img_flower"
        />
        <img
          src="img/img-slider-1.webp"
          alt="Indoor flower"
          class="anthurium-slider__img_flower"
        />
        <img
          src="img/img-slider-1.webp"
          alt="Indoor flower"
          class="anthurium-slider__img_flower"
        />
      </div>

      <div class="anthurium-slider__dots">
        <div class="anthurium-slider__dots_cont">
          <button class="anthurium-slider__dots_btn"></button>
        </div>
        <div class="anthurium-slider__dots_cont">
          <button class="anthurium-slider__dots_btn"></button>
        </div>
        <div class="anthurium-slider__dots_cont">
          <button class="anthurium-slider__dots_btn"></button>
        </div>
        <div class="anthurium-slider__dots_cont">
          <button class="anthurium-slider__dots_btn"></button>
        </div>
      </div>

      <div class="anthurium-slider__btn">
        <button class="anthurium-slider__btn-prev">
          <img src="img/icons/back (1).png" alt="back arrow icon">
        </button>
        <button class="anthurium-slider__btn-next">
          <img src="img/icons/next (1).png" alt="next arrow icon">
        </button>
      </div>

      
    </div>

    <div class="anthurium-cart">
      <h2 class="anthurium-cart__h">Anthurium</h2>
      <p class="anthurium-cart__text">
        Anthuriums are the world’s longest blooming houseplant – they are rarely
        without their showy blooms! Each bloom can last up to eight weeks, and
        new ones will pop up often. These aren’t actual flowers, but modified
        waxy leaves. Anthuriums flourish and bloom best in bright indirect
        light.
      </p>
      <span class="anthurium-cart__price"> $68 </span>

      <div class="anthurium-cart__height">Plant height (cm):</div>

      <div class="anthurium-cart__height-btn">
        <button class="anthurium-cart__height-btn_btn">15-30</button>
        <button class="anthurium-cart__height-btn_btn">30-40</button>
        <button class="anthurium-cart__height-btn_btn">40-55</button>
        <button class="anthurium-cart__height-btn_btn">55-65</button>
        <button class="anthurium-cart__height-btn_btn">65-80</button>
      </div>

      <button class="anthurium-cart__btn">Add to Cart</button>
    </div>
  </div>
</section>
